body{
    color: white;
    font-family: 'DrukTextWideTT',Arial,sans-serif;
    background: black;
    letter-spacing: 1px

}
.Hi{
    background-color: #e95658;
}
.Experiance{ 
    font-size: medium;
    background-size: auto;

   
    }